---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Projects from '../components/Projects.astro';
import Aboutme from '../components/Aboutme.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Eric Duart">

	<Header />

	<main>
		<Aboutme />
		<Projects />
	</main>
	
	<Contact />

</Layout>

<style>

</style>
