<section>
  <div>
    <p class="initial-animation justify">Creo que, si tuviera que definirme en una frase breve, diría algo como:</p> 
    <p class="bold initial-animation"><span class="comillas">"</span>Curioso con curiosidad no finita.<span class="comillas">"</span></p>
    <p class="initial-animation">Me encanta leer fantasía, jugar volleyball y, por supuesto, programar.</p>

  </div>
</section>


<style>

  section {
    margin: 0 20px 40px;
    display: flex;
    justify-content: center;
  }

  p {
    margin: 0 auto;
    font-size: 1.1rem;
  }

  .comillas {
    color: var(--color-highlight);
    font-size: 2rem;
  }

  .comillas:nth-child(1) {
    margin-right: 5px;
  }

  .comillas:nth-child(2) {
    margin-left: 5px;
  }

  .highlight {
    color: var(--color-highlight);
    font-weight: bolder;
  }

  p{
    margin-top: 10px;
  }

  .bold {
    font-weight: bolder;
  }

  @media (width <= 740px) {
    section {
      margin: 0;
      padding: 30px;
    }
  }

</style>