<section>
  <p class="initial-animation justify">
    Una vez leí una cita de Robert Jordan que decía:
  </p> 
  
  <p class="initial-animation bold"><span class="comillas">"</span>Casi muertos ayer, tal vez muertos mañana, pero vivos, gloriosamente vivos, hoy.<span class="comillas">"</span></p>
  
  <p class="initial-animation justify">Y no es solo que se me quedó en la cabeza, sino que me llevó a pensar que uno de los momentos que más vivo me siento es cuando estoy inmerso en mi código.</p>
  
  <p class="initial-animation justify">Entusiasta del género <span class="highlight">fantástico</span>, el mundo del <span class="highlight">voleibol</span>, el <span class="highlight">hacking ético</span> y, por supuesto, la <span class="highlight">programación</span>.</p>

</section>


<style>

  section {
    margin: 50px 50px 0;
    padding: 50px;
  }

  p {
    margin: 0 auto;
    font-size: 1.1rem;
  }

  .comillas {
    color: var(--color-highlight);
    font-size: 2rem;
  }

  .comillas:nth-child(1) {
    padding-right: 10px;
  }

  .comillas:nth-child(2) {
    padding-left: 10px;
  }


  .highlight {
    color: var(--color-highlight);
    font-weight: bolder;
  }

  p{
    margin-top: 10px;
  }

  .bold {
    font-weight: bolder;
  }

  @media (width <= 740px) {
    section {
      margin: 50px 0 0;
      padding: 30px;
    }
  }

</style>