<footer class="link_block reverseHover initial-animation">
  <a href="mailto:eric.duasan@gmail.com">Vamos a crear juntos</a>
</footer>

<style>
  footer {
    margin: 50px auto 150px auto;


    width: fit-content;
    background-color: var(--color-primary);
    padding: 20px 25px;
    font-size: larger;
    border-radius: 5px;
  }

  a {
    color: var(--background);
  }

</style>